/* SETUP */
body {
	margin: 0;
	padding: 0;
	font-size: 18px;
}

p, span, li, table {
	font-family: 'Gotham', sans-serif;
	line-height: 1.4em;
	font-weight: 300;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	font-family: 'Museo', serif;
	margin-top: 0;
}

@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamultra-webfont.eot");
  src: url("fonts/gothamultra-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamultra-webfont.woff") format("woff"), url("fonts/gothamultra-webfont.ttf") format("truetype"), url("fonts/gothamultra-webfont.svg#gothamultraregular") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamultra-italic-webfont.eot");
  src: url("fonts/gothamultra-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamultra-italic-webfont.woff") format("woff"), url("fonts/gothamultra-italic-webfont.ttf") format("truetype"), url("fonts/gothamultra-italic-webfont.svg#gothamultraitalic") format("svg");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamblack-webfont.eot");
  src: url("fonts/gothamblack-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamblack-webfont.woff") format("woff"), url("fonts/gothamblack-webfont.ttf") format("truetype"), url("fonts/gothamblack-webfont.svg#gothamblackregular") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamblack-italic-webfont.eot");
  src: url("fonts/gothamblack-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamblack-italic-webfont.woff") format("woff"), url("fonts/gothamblack-italic-webfont.ttf") format("truetype"), url("fonts/gothamblack-italic-webfont.svg#gothamblackitalic") format("svg");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothambold-webfont.eot");
  src: url("fonts/gothambold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothambold-webfont.woff") format("woff"), url("fonts/gothambold-webfont.ttf") format("truetype"), url("fonts/gothambold-webfont.svg#gothamboldregular") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothambold-italic-webfont.eot");
  src: url("fonts/gothambold-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothambold-italic-webfont.woff") format("woff"), url("fonts/gothambold-italic-webfont.ttf") format("truetype"), url("fonts/gothambold-italic-webfont.svg#gothambolditalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothammedium-webfont.eot");
  src: url("fonts/gothammedium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothammedium-webfont.woff") format("woff"), url("fonts/gothammedium-webfont.ttf") format("truetype"), url("fonts/gothammedium-webfont.svg#gothammediumregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothammedium-italic-webfont.eot");
  src: url("fonts/gothammedium-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothammedium-italic-webfont.woff") format("woff"), url("fonts/gothammedium-italic-webfont.ttf") format("truetype"), url("fonts/gothammedium-italic-webfont.svg#gothammediumitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamlight-webfont.eot");
  src: url("fonts/gothamlight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamlight-webfont.woff") format("woff"), url("fonts/gothamlight-webfont.ttf") format("truetype"), url("fonts/gothamlight-webfont.svg#gothamlightregular") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamlight-italic-webfont.eot");
  src: url("fonts/gothamlight-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamlight-italic-webfont.woff") format("woff"), url("fonts/gothamlight-italic-webfont.ttf") format("truetype"), url("fonts/gothamlight-italic-webfont.svg#gothamlightitalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamthin-webfont.eot");
  src: url("fonts/gothamthin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamthin-webfont.woff") format("woff"), url("fonts/gothamthin-webfont.ttf") format("truetype"), url("fonts/gothamthin-webfont.svg#gothamthinregular") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamthin-italic-webfont.eot");
  src: url("fonts/gothamthin-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamthin-italic-webfont.woff") format("woff"), url("fonts/gothamthin-italic-webfont.ttf") format("truetype"), url("fonts/gothamthin-italic-webfont.svg#gothamthinitalic") format("svg");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamexlight-webfont.eot");
  src: url("fonts/gothamexlight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamexlight-webfont.woff") format("woff"), url("fonts/gothamexlight-webfont.ttf") format("truetype"), url("fonts/gothamexlight-webfont.svg#gothamexlightregular") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("fonts/gothamexlight-italic-webfont.eot");
  src: url("fonts/gothamexlight-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothamexlight-italic-webfont.woff") format("woff"), url("fonts/gothamexlight-italic-webfont.ttf") format("truetype"), url("fonts/gothamexlight-italic-webfont.svg#gothamexlightitalic") format("svg");
  font-weight: 100;
  font-style: italic; }

@font-face {
    font-family: 'Museo';
    src: url('fonts/museo300-regular-webfont.woff2') format('woff2'),
         url('fonts/museo300-regular-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('fonts/museo500-regular-webfont.woff2') format('woff2'),
         url('fonts/museo500-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('fonts/museo700-regular-webfont.woff2') format('woff2'),
         url('fonts/museo700-regular-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.program-bar {
	width: 100%;
	background-color: rgb(2, 143, 197);
	position: fixed;
	height: 27px;
	text-align: center;
	color: white;
	font-size: 12px;
	padding-top: 8px;
	z-index: 10;
	border-bottom: 1px solid #222;
}

.program-bar a {
	text-decoration: underline;
	color: white;
}

.b .program-bar {
	background-color: rgb(165, 61, 255);
}

.b .program-bar a {
	color: white;
}

.bp {
	padding-top: 35px;
}

.companies.a .bp {
	padding-top: 0;
}

.companies.a .program-bar {
	display: none;
}

.b a,
.b .experts li a,
.b .nav li.current a,
.b .nav li a:hover {
	color: rgb(165, 61, 255);
}

.b .signup .button,
.c .bootcamp .signup .button {
	background-color: rgb(165, 61, 255);
}

.b .signup .button:hover,
.b .nav li.current a,
.b .nav li a:hover {
	border-color: rgb(165, 61, 255);;
}

.c .nav li.current a,
.c .nav li a:hover {
	border-color: white;
}

.c .nav li.current a,
.c .nav li a:hover {
	color: white;
}

.c .bootcamp .signup .button:hover {
	background-color: white;
	border-color: rgb(165, 61, 255);;
}

.c footer a {
	color: white;
	text-decoration: underline;
}


.main-container {
	width: 90%;
	margin: 0 auto;
	padding: 0 18px;
	max-width: 1150px;
	position: relative;
	z-index: 1;
}

.filter {
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	transition: 0.2s;
}

.button {
	padding: 12px 20px;
	border: 2px solid white;
	text-transform: uppercase;
	font-family: Gotham;
	font-weight: 300;
	display: inline-block;
	font-size: 16px;
	margin-right: 18px;
	margin-bottom: 18px;
}

a .button {
	color: white;
	text-decoration: none;
}

.button:hover {
	background: white;
}

a .button:hover {
	color: black;
}

a {
	text-decoration: none;
	color: rgb(2, 143, 197);
}

a:hover {
	text-decoration: underline;
}

.vh {
	min-height: 585px;
}

/* END SETUP */
/* BEGIN TOP */

.top {
	background-image: url('images/bg.jpg');
	background-size: cover;
	background-position: top center;
	height: 800px;
}

.b .top {
	background-image: url('images/bg7.jpg');

}

.b .hero-text {
	position: absolute;
    right: 0;
}

.top .filter {
	height: 800px;
}

.companies .top {
	background-image: url('images/bg6.jpg')
}

.companies .top,
.companies .top .filter {
	height: 650px;
	background-position: center center;
}

/* END TOP */
/* BEGIN NEW INDEX */

.new {
	color: white;
	background-color: black;	
	border-bottom: 2px solid white;	
}

.top.new {
	background-image: url('images/bg7.jpg');
	background-image: none;
	background: #4B79A1;
    background: -webkit-linear-gradient(to left, #345673 , #0e1c27);
    background: linear-gradient(to left, #345673 , #0e1c27);
	height: 800px;
	padding-top: 0;
}

.new .filter {
	background-color: rgba(0, 0, 0, 0.2);
	height: 800px;
}

.new header {
	background-color: rgba(0, 0, 0, 0.7);
}

.new .heading {
	margin-top: 36px;
	text-align: center;
}

.new .heading h1 {
	margin-bottom: 10px;
}

.new .heading p {
	margin-top: 0;
	margin-bottom: 36px;
}

.program {
	display: inline-block;
	vertical-align: top;
	width: 41%;
	padding: 30px 3%;
	margin-right: 5%;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(169, 169, 169, 0.35);
	/*color: black;
	background: white;*/
}

.program a:hover {
	text-decoration: none;
}

.bootcamp {
	margin-right: 0;
}

.program .title {
	text-align: center;
	margin-bottom: 18px;
}

.program h2, 
.program h3, 
.program h4 {
	margin: 0;
	margin-bottom: 5px;
} 

.program h2 {
	font-family: Gotham;
	font-weight: 800;
	text-transform: uppercase;
}

.program h3 {
	font-family: Gotham;
	font-weight: 300;
	font-style: italic;
}

.program .signup-wrapper h4 {
	font-style: italic;
	text-align: center;
	margin-bottom: 10px;
}

.program .signup-wrapper {
	text-align: center;
}

.academy .signup .button,
.academy .signup .button:hover {
	/*background-color: rgb(159, 0, 0);
	color: white;
	
	font-weight: 300;*/
	border: 1px solid white;

	color: white;
	background-color: rgb(2, 143, 197);
}

.academy .signup .button:hover {
	
}

.bootcamp .signup .button,
.bootcamp .signup .button:hover,
.program .button,
.program .button:hover {
	border-width: 1px;
}


/* END NEW INDEX */
/* BEGIN APPLY HERO */

.apply-hero {
	background-image: url('images/bg4.jpg');
	background-size: cover;
	background-position: center center;
	height: 600px;
}

.apply-hero .filter {
	height: 600px;
}

/* END APPLY HERO */
/* BEGIN TUITION HERO */

.tuition-hero {
	background-image: url('images/whiteboard.jpg');
	background-size: cover;
	background-position: top center;
	height: 650px;
}

.tuition-hero .filter {
	height: 650px;
}

/* END TUITION HERO */
/* HEADER */

header {
	background: rgba(0,0,0,0.4);
	position: relative;
	z-index: 5;
	padding: 18px 0;
}

header .logo {
	display: inline-block;
	vertical-align: middle;
	width: 230px;
	margin-right: 40px;
}

header .logo img {
	width: 100%;
	height: auto;
}

.nav {
	list-style: none;
	display: inline-block;
	/*width: 80%;*/
	padding-left: 0;
	text-align: right;
	position: absolute;
    right: 0;
    padding-top: 8px;
}

.nav li {
	display: inline;
	font-family: Gotham;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
	margin-left: 14px;
}

.nav li.current a {
	color: rgb(2, 143, 197);
	padding-bottom: 2px;
	border-bottom: 2px solid rgb(2, 143, 197);
}

.nav li.hamburger {
	display: none;
}

.nav li a {
	color: white;
	text-decoration: none;
}

.nav li a:hover {
	padding-bottom: 2px;
	border-bottom: 2px solid rgb(2, 143, 197);
	color: rgb(2, 143, 197);
	cursor: pointer;
}

/* END HEADER */
/* HERO */

.hero-text {
	width: 100%;
	max-width: 500px;
	color: white;
	padding-top: 75px;
}

.hero-text h1 {
	font-weight: 900;
}

/* END HERO */
/* BEGIN OVERVIEW */

.overview {
	background: #4B79A1; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #345673 , #0e1c27); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #345673 , #0e1c27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	padding: 72px 0;
}

.column {
	display: inline-block;
	width: 33.33%;
	vertical-align: top;
}

.column-image {
	text-align: center;
}

.column-image img {
	width: 95%;
	height: auto;
}

.column-content {
	padding: 0 27px;
}

.column-content h2 {
	margin: 18px 0;
}

.pitch-image,
.pitch-text {
	display: inline-block;
	vertical-align: top;
	margin: 36px 0;
}

.pitch-image img {
	width: 100%;
	height:; auto;
}

.pitch-image {
	width: 47.5%;
}

.pitch-text {
	width: 47.5%
}

.overview .left {
	margin-right: 5%;
}

/* END OVERVIEW */
/* BEGIN PULLQUOTE */

.pullquote {
	padding: 72px 0;
	color: white;
	background: #485563; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pullquote.google {
	background: none;
	color: black;
}

.pullquote p {
	font-style: italic;
}

.pullquote .headshot {
	display: inline-block;
	width: 15%;
	vertical-align: top;
}

.pullquote .headshot img {
	width: 85%;
	height: auto;
	vertical-align: top;
}

.pullquote .quote {
	display: inline-block;
	width: 85%;
}

/* END PULLQUOTE */
/* BEGIN EXPERTS */

.experts {
	background: #ECE9E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.experts .experts-content {
	padding: 72px 0;
}

.experts h1 {
	margin-top: 0;
	margin-bottom: 36px;
}

.experts ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.experts li {
	display: inline-block;
	width: 22%;
	margin-right: 4%;
	margin-bottom: 36px;
	vertical-align: top;
}

.experts li:nth-child(4n) {
	margin-right: 0;
}

.experts li h3 {
	margin: 9px 0;
	text-transform: uppercase;
	font-family: Gotham;
	font-weight: 700;
}

.experts li p {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 9px;
}

.experts li a {
	color: rgb(2, 143, 197);
}

.experts .headshot img {
	width: 100%;
	height: auto;
}

/* END EXPERTS */
/* BEGIN PARTNERS */

.partners {
	background: white;
	color: black;
}

.partners .partners-content {
	padding: 42px 0;
	/* Was 72px 0 */
}

.partners h1 {
	margin-top: 0;
	margin-bottom: 36px;
}

.partners ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 60%;
	margin-right: 7.5%;
	vertical-align: top;
}

.partners-pullquote {
	display: inline-block;
	width: 32.5%;
	vertical-align: top;
}

.partners li {
	display: inline-block;
	width: 27.33%;
	margin-right: 9%;
	margin-bottom: 36px;
	vertical-align: middle;
	text-align: center;
}

.partners li:nth-child(3n) {
	margin-right: 0;
}

.partners li h3 {
	margin: 9px 0;
	text-transform: uppercase;
	font-family: Gotham;
	font-weight: 700;
}

.partners li p {
	font-size: 16px;
	margin-top: 18px;
	margin-bottom: 9px;
}

.partners li a {
	color: #7ecdff;
}

.partners.companies .partner {
	min-height: 108px;
}

.partners .partner img {
	width: 100%;
	height: auto;
}

/* END PARTNERS */
/* BEGIN LEARN MORE */

.learn-more {
	background-image: url('images/bg2.png');
	background-size: cover;
	background-position: center center;
	color: white;
	text-align: center;
	height: 100vh;
}

.learn-more-content {
	padding-top: 250px;
}

.learn-more .button {
	margin: 18px;
	margin-bottom: 9px;
}

.signup {
	display: inline-block;
}

.signup .button {
	background: rgb(2, 143, 197);
}


.signup .button:hover {
	background: white;
	border: 2px solid rgb(2, 143, 197);
}

.signup a .button:hover {
	color: black;
	font-family: Gotham;
	font-weight: 500;
}

/* END LEARN MORE */
/* BEGIN STEPS */

.steps {
	padding: 36px 0;
}

.steps.google {
	background: #485563;
    background: -webkit-linear-gradient(to left, #485563 , #29323c);
    background: linear-gradient(to left, #485563 , #29323c);
    color: white;
}

#faq h3.step-heading {
	margin-top: 36px;
	/*margin-bottom: 10px;*/
}

#faq h3 {
	margin-top: 30px;
	margin-bottom: 0px;
}

#faq p {
	margin-bottom: 18px;
	margin-top: 5px;
}

#faq hr {
	margin-top: 36px;
}

.step {
	padding: 9px 0;
	max-width: 900px;
	margin: 0 auto;
}

.steps .step-heading {
	text-transform: uppercase;
	display: inline-block;
	font-weight: 700;
	font-family: Gotham;
	color: white;
	background: #4B79A1; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #345673 , #0e1c27); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #345673 , #0e1c27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: 0;
	padding: 10px;
}

.steps.google .step-heading {
	background: none;
	padding-left: 0;
}

/* END STEPS */
/* BEGIN TUITION DATES */

.tuition-dates {
	text-align: center;
	padding: 36px 0;
}

.tuition-dates p {
	margin: 0;
}

.tuition-dates .number h1 {
	display: inline-block;
	width: 275px;
	text-align: center;
	padding: 36px 0;
	margin: 0;
	color: white;
	font-family: Gotham;
	font-weight: 700;
	font-size: 48px;
}

.tuition-dates .number h1.first {
	background: #4B79A1; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #1c3243 , #0e1c27); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #1c3243 , #0e1c27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tuition-dates .number h1.second {
	background: #4B79A1; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #264157 , #1c3243); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #264157 , #1c3243); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tuition-dates .number h1.third {
	background: #4B79A1; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #688ba9, #264157); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #688ba9 , #264157); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tuition-dates .button {
	margin-right: 0;
	margin-top: 18px;
}

/* END TUITION DATES */
/* BEGIN WHATS INCLUDED */

.whats-included {
	background: #4B79A1; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #345673 , #0e1c27); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #345673 , #0e1c27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	padding: 36px 0;
}

.whats-included-left {
	display: inline-block;
	width: 45%;
	vertical-align: top;
	margin-right: 10%;
}

.whats-included-right {
	display: inline-block;
	width: 45%;
	vertical-align: top;
}

/* END WHATS INCLUDED */
/* BEGIN PROGRAM COMPARISON */

.program-comparison {
	
	padding: 36px 0;
}


.check,
.x {
	width: 30px;
	height: auto;
}

.program-comparison .logo {
	max-height: 80px;
	max-width: 180px;
	height: auto;
	width: auto;
}

/* END WHATS INCLUDED */
/* BEGIN CURRICULUM HERO */

.curriculum-hero {
	background-image: url('images/learn.jpg');
	background-size: cover;
	background-position: top center;
	height: 650px;
}

.curriculum-hero .filter {
	height: 650px;
	background-color: rgba(0,0,0,0.7);
}

/* END CURRICULUM HERO */
/* BEGIN OUTCOMES HERO */

.outcomes-hero {
	background-image: url('images/bg6.jpg');
	background-size: cover;
	background-position: top center;
	height: 700px;
}

.outcomes-hero .filter {
	height: 700px;
	background-color: rgba(0,0,0,0.7);
}

/* END OUTCOMES HERO */
/* BEGIN OUTCOME EXAMPLES */

.outcomes img {
	width: 100%;
	height: auto;
}

.outcomes h1 {
	margin-bottom: 0;
}

.outcomes h4 {
	font-family: Gotham;
	text-transform: uppercase;
	font-weight: 200;
}

.jordan {
	background-image: url('images/jordan.jpg');
	background-size: cover;
	background-position: center center;
	height: 700px;
	color: white;
}

.jordan .filter {
	height: 700px;
	background-color: rgba(0,0,0,0.6);
}

.jordan-content {
	padding-top: 400px;
	padding-bottom: 36px;
	max-width: 80%;
	width: 100%;
}

.more-jordan {
	/*background: #485563;
    background: -webkit-linear-gradient(to left, #485563 , #29323c);
    background: linear-gradient(to left, #485563 , #29323c);
    color: white;*/
}

.more-jordan-left {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	margin-right: 10%;
	padding: 36px 0;
}

.more-jordan-right {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	padding: 54px 0;
}

.more-jordan-right img {
	width: 100%;
	height: auto;
}

.jessica {
	background: #4B79A1;
    background: -webkit-linear-gradient(to left, #345673 , #0e1c27);
    background: linear-gradient(to left, #345673 , #0e1c27);
	padding: 72px 0;
	color: white;
}

.jessica-profile { 
	width: 20%;
	margin-right: 5%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 72px;
}

.jessica-content {
	width: 75%;
	display: inline-block;
	vertical-align: top;
}

.slack-pic {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin-left: 5%;
}

.jess-more {
	display: inline-block;
	vertical-align: top;
	width: 55%;
}


.matt {
	background-image: url('images/matt2.jpg');
	background-size: cover;
	background-position: top center;
	height: 750px;
	color: white;
	border-top: 2px solid white;	
}

.matt .filter {
	height: 750px;
	background-color: rgba(0,0,0,0.6);
}

.matt .spacer {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.matt .matt-first {
	width: 50%;
	padding: 72px 0;
	display: inline-block;
	vertical-align: top;
}

.matt-more {
	padding: 72px 0;
}

.matt-content {
	width: 40%;
	display: inline-block;
	vertical-align: top;

}

.matt-pic {
	width: 50%;
	margin-left: 10%;
	display: inline-block;
	vertical-align: top;
}


/* END OUTCOME EXAMPLES */
/* BEGIN PART 1 */

.part-1 {

}

.part-heading {
	padding: 18px 0;
	background: #4B79A1;
    background: -webkit-linear-gradient(to left, #345673 , #0e1c27);
    background: linear-gradient(to left, #345673 , #0e1c27);
	height: 120px;
	width: 100%;
	color: white;
}

.part-heading h1 {
	text-transform: uppercase;
	font-family: Gotham;
	font-weight: 800;
}

.part-1-heading {
	z-index: 15;
}

.part-1-content,
.part-2-content,
.part-3-content {
	padding: 18px 0;
}

.track-a,
.track-b,
.track-c {
	padding: 36px 0;
}

.track-heading h1 {
	text-transform: uppercase;
	font-family: Gotham;
	font-weight: 800;
}

.learn-and-outcomes .learn-and-outcomes-column {
	width: 47.5%;
	margin-right: 5%;
	display: inline-block;
	vertical-align: top;
	margin-top: 36px;
}

.learn-and-outcomes .learn-and-outcomes-column:last-child {
	margin-right: 0;
}

.learn-and-outcomes .image img {
	width: 100%;
	height: auto;
}

.learn-and-outcomes .content {
	padding-top: 18px;
}

.curriculum-instructors h1 {
	margin-bottom: 36px;
}

.curriculum-instructors .left {
	display: inline-block;
	vertical-align: top;
	width: 47.5%;
	margin-right: 5%;
}

.curriculum-instructors .right {
	display: inline-block;
	width: 47.5%;
	vertical-align: top;
}

.curriculum-instructors .instructor {
	margin-bottom: 24px;
}

.curriculum-instructors .headshot {
	display: inline-block;
	width: 15%;
	margin-right: 5%;
	vertical-align: top;
}

.curriculum-instructors .headshot img {
	width: 100%;
	height: auto;
}

.curriculum-instructors .bio {
	display: inline-block;
	width: 80%;
	vertical-align: top;
}

.curriculum-instructors .bio h3 {
	margin-bottom: 9px;
}

.curriculum-instructors .bio p {
	margin-top: 9px;
}

.pullquote.curriculum {
	background: white;
	color: black;
	padding: 36px 0;
}


/* END PART 1 */
/* BEGIN PART 2 */

.part-2 {

}

.part-2-heading {
	z-index: 16;
}

.part-2 .industry {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-right: 5%;
	margin-bottom: 18px;
}

.part-2 .industries .industry:last-child {
	margin-right: 0;
}

.part-2 .industry .icon {
	margin: 18px 0;
}

.part-2 .industry .icon img {
	width: 50%;
	height: auto;
}

.part-2 .industry h3 {
	text-transform: uppercase;
	font-weight: 800;
	font-family: Gotham;
	margin-bottom: 0;
}


/* END PART 2 */
/* BEGIN PART 3 */

.part-3 {

}

.part-3-heading {
	z-index: 3;
}

.part-3 .projects .project {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin: 18px 0;
	margin-right: 5%;
}

.part-3 .projects .project:last-child {
	margin-right: 0;
}

.part-3 .project .image img {
	width: 100%;
	height: auto;
}

.part-3 .project .description {
	margin: 18px 0;
}

/* END PART 3 */
/* BEGIN FOOTER */

footer {
	color: white;

	background: #141E30; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	        

	box-shadow: rgba(0, 0, 0, 0.8) 0px 15px 15px -15px inset, rgba(0, 0, 0, 0.8) 0px -15px 15px -15px inset;
}

.footer-container {
	padding: 72px 0;
}

footer .footer-logo {
	display: inline-block;
	vertical-align: top;
	width: 12.5%;
	margin-right: 5%;
}

footer .footer-logo img {
	width: 100%;
	height: auto;
}

footer .footer-text {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding-right: 5%;
}

footer .footer-links {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	padding-left: 5%;
	border-left: 1px solid white;	
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}



/* END FOOTER */

@media screen and (max-width: 1100px) {
	
	/* BEGIN COMPARISON */

	.program {
		width: 44%;
	    padding: 25px 2%;
	    margin-right: 3%;
	    transition: .2s;
	}

	.bootcamp {
		margin-right: 0;
	}


	.top.new, 
	.top.new .filter {
		height: 900px;
	}

	/* END COMPARISON */
	/* BEGIN HEADER */

	header .logo {
		width: 150px;
	}

	.nav {
		padding-top: 4px;
		font-size: 10px;
	}

	.nav li {
		font-size: 16px;
	}

	/* END HEADER */
}



@media screen and (max-width: 1000px) {

	/* BEGIN EXPERTS */

	.experts li {
		width: 23%;
		margin-right: 2%;
	}

	.experts li:nth-child(4n) {
		margin-right: 0;
	}

	/* END EXPERTS */
	/* BEGIN PART 2 */

	.part-2 .industry {
		width: 100%;
		margin: 36px 0;
		margin-right: 0;
		display: block;
	}

	.part-2 .industry .icon {
		display: inline-block;
		vertical-align: top;
		width: 15%;
		margin: 0;
		margin-right: 5%;
	}

	.part-2 .industry .description {
		display: inline-block;
		vertical-align: top;
		width: 80%;
	}

	/* END PART 2*/
	/* BEGIN PART 3 */

	.part-3 .projects {
		padding: 18px 0;
	}

	.part-3 .projects .project {
		display: block;
		width: 100%;
		margin: 18px 0;
	}

	.part-3 .project .image {
		width: 30%;
		margin-right: 5%;
		vertical-align: top;
		display: inline-block;
	}

	.part-3 .project .description {
		display: inline-block;
		width: 65%;
		vertical-align: top;
		margin: 0;
	}

	/* END PART 3 */


}

@media screen and (max-width: 900px) {

	/* BEGIN COMPARISON */

	.program {
	    width: 90%;
	    padding: 25px 5%;
	    transition: .2s;
	    margin-bottom: 30px;
	}

	.top.new, .top.new .filter {
	    height: 1220px;
	}

	/* END COMPARISON */
	/* HEADER */
	.filter {
		background-color: rgba(0,0,0,0.65);
		transition: 0.2s;
	}

	/* Change nav to hamburger button */

	.nav #check {
		display: none;
	}

	.nav li.hamburger {
		display: block;
		height: 25px;
	}

	.nav li.hamburger:hover {
		cursor: pointer;
	}

	.nav li.hamburger img {
		height: 100%;
		width: auto;
	}

	.nav #check {
		position: absolute;
		right: 0;
		margin-top: 10px;
	}

	.nav #check li {
		display: block;
		font-size: 24px;
		width: 225px;
		background: rgba(0,0,0,0.85);
		padding: 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.16);
	}

	.nav #check li:hover {
		cursor: pointer;
	}

	.nav #check li:hover a {
		text-decoration: underline;
	}

	
	/* END HEADER */
	/* BEGIN OVERVIEW */

	.column {
		display: block;
		width: 100%;
	}

	.column .column-image,
	.column .column-content {
		display: inline-block;
		width: 50%;
		padding: 0;
		text-align: left;
		vertical-align: top;
		margin-bottom: 36px;
	}

	.column-content h2 {
		margin-top: 0;
	}

	/* END OVERVIEW */
	/* BEGIN TUITION DATES */

	.column .number {
		display: inline-block;
		width: 40%;
		margin-right: 5%;
		text-align: right;
		vertical-align: top;
		margin-bottom: 36px;
	}

	.column .number h1 {
		width: 225px;
	}

	/* END TUITION DATES */
	/* BEGIN PARTNERS */

	.partners ul {
		display: block;
		width: 100%;
		margin-bottom: 18px;
	}	

	.partners-pullquote {
		display: block;
		width: 100%;
	}

	/* END PARTNERS */
	/* BEGIN PART 1 */

	.learn-and-outcomes .learn-and-outcomes-column {
		display: block;
		width: 100%;
		margin-right: 0;
	}	

	.learn-and-outcomes .learn-and-outcomes-column .image {
		width: 70%;
	}

	.curriculum-instructors .left,
	.curriculum-instructors .right {
		display: block;
		width: 100%;
		margin-right: 0;
	}

	.curriculum-instructors .right .quote {
		margin-top: 36px;
	}


	/* END PART 1 */
	/* BEGIN OUTCOMES */

	.jessica-profile {
		display: block;
		width: 30%;
		margin-bottom: 18px;
	}

	.jessica-content,
	.jess-more {
		display: block;
		width: 100%;
		
	}

	.slack-pic {
		display: block;
		width: 65%;
		margin-left: 0;
	}

	.spacer {
		display: none;
	}

	.matt .matt-first {
		display: block;
		width: 100%;
		padding-top: 350px;
	}

	.matt,
	.matt .filter {
		height: 950px;
	}

	.matt-content {
		width: 100%;
		margin-bottom: 36px;
	}

	.matt-pic {
		width: 100%;
		margin-left: 0;
	}

	.jordan-content {
		padding-top: 300px;
		max-width: 100%;
	}

	.more-jordan-left, 
	.more-jordan-right {
		margin-right: 0;
		width: 100%;
	}

	.more-jordan-right {
		padding-top: 0;
	}

	/* END OUTCOMES */

}

@media screen and (max-width: 800px) {

	
	/* BEGIN PULLQUOTE */

	.pullquote h1 {
		font-size: 28px;
	}

	/* END PULLQUOTE */

	/* BEGIN EXPERTS */

	.experts li {
		width: 30%;
		margin-right: 3.33%;
	}

	.experts li:nth-child(4n) {
		margin-right: 3.33%;
	}

	/* END EXPERTS */
	/* BEGIN LEARN MORE */

	.learn-more-content {
		padding-top: 75px;
	}

	/* END LEARN MORE */
	/* BEGIN WHATS INCLUDED */

	.whats-included-left,
	.whats-included-right {
		width: 100%;
		margin-right: 0;
	}

	.whats-included-right {
		margin-top: 36px;
	}

	/* END WHATS INCLUDED */
	/* BEGIN FOOTER */
	footer .footer-logo {
		display: block;
		margin-bottom: 18px;
		width: 100px;
	}

	footer .footer-text {
		width: 100%;
		padding-right: 0;
		margin-bottom: 36px;
	}

	footer .footer-links {
		display: block;
		width: 100%;
		padding-left: 0;
		margin-bottom: 18px;
		border-left: none;
	}
	/* END FOOTER */
	/* BEGIN OUTCOMES */

	.slack-pic {
		width: 100%;
	}

	/* END OUTCOMES */


}

@media screen and (max-width: 675px) {

	/* BEGIN COMPARISON */

	.program {
	    width: 95%;
	    padding: 15px 2.5%;
	}

	.top.new, .top.new .filter {
	    height: 1275px;
	}

	/* END COMPARISON */
	/* BEGIN OVERVIEW */

	.column .column-image,
	.column .number,
	.column .column-content {
		display: block;
		width: 100%;
	}

	.column .column-image,
	.column .number {
		margin-bottom: 18px;
	}


	/* END OVERVIEW */
	/* BEGIN TUITION DATES */

	.column .number,
	.column .column-content,
	.tuition-dates {
		text-align: left;
	}

	/* END TUITION DATES */
	/* BEGIN EXPERTS */

	.experts li {
		display: block;
		width: 100%;
		margin-right: 0%;
		margin-bottom: 18px;
	}

	.experts .headshot {
		display: inline-block;
		vertical-align: top;
		width: 15%;
		margin-right: 5%;
	}

	.experts .expert-info {
		display: inline-block;
		vertical-align: top;
		width: 80%;
	}

	.experts li h3 {
		margin: 0;
	}

	.experts h2 {
		margin-top: 36px;
	}

	/* END EXPERTS */
	/* BEGIN PARTNERS */

	.partners li {
		width: 45%;
		margin-right: 10%;
	}

	.partners li:nth-child(3n) {
		margin-right: 10%;
	}

	.partners li:nth-child(2n) {
		margin-right: 0;
	}

	/* END PARTNERS */
	/* BEGIN PULLQUOTE */

	.pullquote .headshot {
		display: block;
		width: 30%;
		margin-bottom: 36px;
	}

	.pullquote .quote {
		display: block;
		width: 100%;
	}

	/* END PULLQUOTE */
	/* BEGIN PARTS HEADING */

	.part-heading h1 {
		font-size: 1.65em;
		margin-bottom: 9px;
	}

	.part-heading h3 {
		font-size: 14px;
	}


	/* END PARTS HEADING */
	/* BEGIN PART 1 */

	.learn-and-outcomes .learn-and-outcomes-column .image {
		width: 100%;
	}


	/* END PART 1 */
	/* BEGIN PART 2 */

	.part-2 .industry {
		margin: 18px 0;
	}

	/* END PART 2 */
	/* BEGIN PART 3 */


	.part-3 .project .image,
	.part-3 .project .description {
		width: 100%;
		margin-right: 0;
		display: block;
	}

	.part-3 .project .description {
		margin: 18px 0 36px 0;
	}


	/* END PART 3 */
	/* BEGIN OUTCOMES */

	.matt {
		background-position: 25% 50%;
	}

	.matt .matt-first {
		padding-top: 72px;
	}

	.jordan-content {
		padding-top: 72px;
	}

	/* END OUTCOMES */



}
@media screen and (max-width: 500px) {

	/* BEGIN COMPARISON */

	.top.new, .top.new .filter {
	    height: 1600px;
	}

	/* END COMPARISON */

}
